@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sansation';
  src:
    url('~@assets/fonts/sansation-regular-webfont.woff2') format('woff2'),
    url('~@assets/fonts/sansation-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sansation';
  src:
    url('~@assets/fonts/sansation-bold-webfont.woff2') format('woff2'),
    url('~@assets/fonts/sansation-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@theme {
  --color-primary: #ffe066;
  --color-blue-bg: #001523;

  --font-sansation: sansation;

  --animate-gelatine: gelatine 0.5s infinite;
  @keyframes gelatine {
    from,
    to {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }

  --animate-type-cursor: type-cursor 1s infinite;
  @keyframes type-cursor {
    0%,
    49% {
      opacity: 0;
    }

    50%,
    100% {
      opacity: 1;
    }
  }
}

.title-container {
  height: calc(100vh - 40px);
}

@media (width > 48rem) {
  .title-container {
    height: calc(100vh - 80px) !important;
  }
}

.slide-from-top {
  opacity: 0;
  animation: slide-in-top, fade-in;
  animation-duration: 1.5s, 1.5s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: 1, 1;
  animation-direction: reverse, forwards;
  animation-fill-mode: forwards, forwards;
}

.slide-from-left {
  animation: slide-in-left, fade-in;
  animation-duration: 1.5s, 1.5s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 0s, 0s;
  animation-iteration-count: 1, 1;
  animation-direction: forwards, forwards;
  animation-fill-mode: forwards, forwards;
}

.slide-from-right {
  opacity: 0;
  animation: slide-in-right, fade-in;
  animation-duration: 1.5s, 1.5s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 2s, 2s;
  animation-iteration-count: 1, 1;
  animation-direction: reverse, forwards;
  animation-fill-mode: forwards, forwards;
}

.button-fade-in {
  animation: fade-in 3s ease-in-out 2s 1 forwards;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

.title-button {
  transition: 0.5s ease-in-out;
}

.title-button::after {
  content: '';
  background-color: transparent;
  border: solid 1px #ffe066;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s ease-in-out;
}

.title-button:hover {
  transform: translateY(-3px);
}

.title-button:hover::after {
  opacity: 0;
  transform: scale(1.5);
}

.drop-down {
  transition: translate 0.2s ease-out;
}

.marquee::before {
  background: linear-gradient();
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  z-index: 10;
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee-duplicate {
  animation: marquee-duplicate 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-duplicate {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
